* {
  /* Recomendo não alterar nada aqui dentro */
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  /* Recomendo não alterar nada aqui dentro, só adicionar */
  --yellow: yellow;
  --red: red;
  --black: black;
}

body {
  height: 100vh;
  width: 100%;
}

/* Escreva a partir daqui */
.preto{
  background-color: black;
  width: 100%;
  height: 33%;
}
.vermelho{
  background-color: red;
  width: 100%;
  height: 33%;
}

.vermelho p{
  color: black;
  font-size: large;
}
.amarelo{
  background-color: yellow;
  width: 100%;
  height: 33%;
}

#villager{
  justify-items: center;
  align-self: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
}